{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Rooom</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'dist/rooom.bundle.css' %}">
    <base href="/"> {% if not user.is_authenticated %}
    <style type="text/css">
    body {
        background: linear-gradient(265deg, #1976d2, #4caf50);
        background-size: 400% 400%;

        -webkit-animation: rooom 30s ease infinite;
        -moz-animation: rooom 30s ease infinite;
        -o-animation: rooom 30s ease infinite;
        animation: rooom 30s ease infinite;
    }

    @-webkit-keyframes rooom {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes rooom {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-o-keyframes rooom {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes rooom {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    </style>
    {% else %}
    <style type="text/css">
    body {
        background-color: #eee;
    }
    </style>
    {% endif %}
</head>

<body ng-app="rooom">
    <script src="{% static 'dist/rooom.bundle.js' %}"></script>

    {% if not user.is_authenticated %}
    <ui-view></ui-view>
    {% elif user.is_authenticated and user.role == 'student' %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Rooom
          </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="">Subjects</a></li>
            <li><a href="">Gradebook</a></li>
            <li><a href="">Account</a></li>
        </ul>
      </div>
    </nav>
    {% elif user.is_authenticated and user.role == 'teacher' %}
    <div class="page-wrapper" ng-controller="DashboardSidebarController as ctrl">
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ui-sref="dashboard">Rooom Dashboard</a>
                </li>
                <li class="sidebar-title">
                    <span>Subjects</span>
                </li>
                <li class="sidebar-list">
                    <a ui-sref="subjects">Subjects</a>
                </li>
                <li class="sidebar-list">
                    <a href="" ng-click="ctrl.onSignout()">Signout</a>
                </li>
            </ul>
        </div>
        <div id="content-wrapper">
            <ui-view></ui-view>
        </div>
    </div>
    {% endif %}
</body>

</html>